.contenedor_img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img_style{
    max-height: 100vh;
}

.shadow{
    max-height: 100vh;
    mix-blend-mode: multiply;
    opacity: 40%;
}

.contenedor_bg{
    display: flex;
    justify-items: center;
}