.projects{
    background-color: var(--color-pallete2);
    top: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    z-index: -2;
}

.addMargin{
    padding-left: 200px;
}

.title{
    margin-top: 160px;
    font-weight: 400;
    font-size: 46px;
}

.subtitle{
    font-weight: 300;
    font-size: 32px;
}

.slider{
    margin-top: 40px;
}