.project_item{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    margin:0;
    padding: 0;
}

.project_item_text{
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.project_item_text h3 {
    font-weight: 400;
    font-size: 2.1vh;
}

.project_item_text h4 {
    font-weight: 400;
    font-size: 1.5vh;
}

.img_min{
    width: 40vh;
    margin-top: 3.95vh;
}

.projects_items_container{
    display: flex;
    flex-direction: column;
}