.container{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    font-size: 30px;
    font-weight: 500;
}

.mail{
    font-size: 70px;
    font-weight: 600;
}

.social{
    font-size: 25px;
    font-weight: 500;
}

.social_container{
    display: flex;

}

.social_logo{
    height: 40px;
    padding: 0px 5px;
}

.social_logo:hover{
    opacity: 0.8;
}

.center_items{
    display: flex;
    flex-direction: column;
    align-content: center;
}