.contenedor_general{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.contenedor_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
    padding-bottom: 25px;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.type{
    font-size: 30px;
    font-weight: 500;
}

.contenedor_back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.back{
    font-size: 30px;
    font-weight: 500;
    
}



