.motion_animation{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/motion_animation.png') 0 0 no-repeat; 
}

.motion_animation:hover{
    opacity: 85%;
}

.motion_animation_play{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/motion_animation.png') 0 0 no-repeat;  
    animation: motion_play_animation 2s steps(60) normal; 
}

@keyframes motion_play_animation {
    100% { background-position: 0 -3600px; }
}

.motion_animation_play:hover{
    opacity: 85%;
}

.motion_animation_play_again{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/motion_animation.png') 0 0 no-repeat;   
    animation: motion_play_animation_again 2s steps(60) normal; 
}


@keyframes motion_play_animation_again {
    100% { background-position: 0 -3600px; }
}

.motion_animation_play_again:hover{
    opacity: 85%;
}