.web_animation{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/web_animation.png') 0 0 no-repeat; 
}

.web_animation:hover{
    opacity: 85%;
}

.web_animation_play{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/web_animation.png') 0 0 no-repeat;  
    animation: web_play_animation 2500ms steps(75) normal; 
}

@keyframes web_play_animation {
    100% { background-position: 0 -4500px; }
}

.web_animation_play:hover{
    opacity: 85%;
}

.web_animation_play_again{
    width: 1027px;   
    height: 60px;   
    background: transparent url('/animations/web_animation.png') 0 0 no-repeat;   
    animation: web_play_animation_again 2500ms steps(75) normal; 
}


@keyframes web_play_animation_again {
    100% { background-position: 0 -4500px; }
}

.web_animation_play_again:hover{
    opacity: 85%;
}